.gallery__list {
    @extend %list;
    flex-wrap: wrap;
}

.gallery__item {
    flex-basis: calc((100% - 60px) / 3);
    transition: box-shadow var(--timing);

    &:hover,
    &:focus {
        box-shadow: var(--portfolio-link-shadow);
    }
}

.gallery__thumb {
    position: relative;
    overflow: hidden;
}

.gallery__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--timing);

    >p {
        padding: 63px 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5555;
        letter-spacing: 0.03em;
        color: var(--titel-white);
    }
}

.gallery__link:hover .gallery__overlay,
.gallery__link:focus .gallery__overlay {
    transform: translateY(0);
}

.gallery__wrapper {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.gallery__titel {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-gray);
    margin-bottom: 4px;
}

.gallery__text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--gray-light);
    transition: box-shadow var(--timing);
}