.benefits__list {
  @extend %list;
}

.benefits__item {
  max-width: 270px;
}

.benefits__titel {
  @include font(null, 14, 1.1429);
  text-transform: uppercase;
  color: var(--first-gray);
  margin-bottom: 10px;
}

.benefits__text {
  @include font(null, 14, 1.7143);
  color: var(--gray-light);
}

.benefits__card {
  @extend %wlex-cent;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
