.clients__titel {
  margin-bottom: 50px;
}

.clients__list {
  @extend %list;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icons-color);
  transition: border-color var(--timing);

  &:hover,
  &:focus {
    border-color: var(--effect-color);
  }
}

.clients__icon {
  transition: fill var(--timing);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--effect-color);
  }
}
