.team {
  background: var(--background-light-gray);
}

.team__titel {
  @extend %titel;
  margin-bottom: 50px;
}

.team__list {
  @extend %list;
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
}

.team__card {
  padding: 30px 0;
  background-color: var(--background-white);
  box-shadow: var(--team-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team__uptitel {
  @include font(500, 16, 1.1875);
  text-align: center;
  color: var(--first-gray);
  margin-bottom: 10px;
}

.team__text {
  @include font(null, 16, 1.1875);
  text-align: center;
  color: var(--gray-light);
  margin-bottom: 16px;
}
